<%if flash[:message]%>
    <div class="alert alert-success" role="alert">
        <h5><%=flash[:message]%></h5>
    </div>
<%elsif flash[:welcome]%>
    <div class="alert alert-success" role="alert">
        <h5><%=flash[:welcome]%></h5>
    </div>
<%end%>

<h1>Community</h1>



<%if @current_user.present? %>
        <%=link_to "New Post", new_post_path, class:"btn btn-outline-info new-post"%>
<%end%>
    <div class="container">
        <%@posts.reverse_each do |post|%>
            <div class="individual-post-container container">

                <h2>
                    <%=post.title%>
                </h2>

                <% if post.image.present? %>
                <div class="post-image">
                    <%=cl_image_tag post.image%> 
                </div> 
                <% elsif post.video.present? %>
                    <div class="container">
                        <%video=YouTubeAddy.extract_video_id(post.video)%>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video%>" allowfullscreen class="video"></iframe>
                    </div> 
                <% end %>
                <% if post.post_text.present? %>
                    <p> <%= post.post_text %> </p>
                <% end %>
                <div class="posted-by-container">
                    <%user=User.find post.user_id%>
                    <h5>Posted by <%=user.email%></h5>
                    <h6 class='time'> 
                        <% time = (post.created_at).strftime("%d %B %Y at %I:%M%P")%> 
                        <%= time %>
                    </h6>
                    <%if post.user_id == @current_user.id%>
                        <div class="controls">
                            <%= link_to "Edit Post", edit_post_path(post.id), :class=>"btn btn-secondary deck-button",:type=>"button" %> <!--need to be specific because we are using @artist-->
                            <%= link_to "Delete Post", post, :method => 'delete', :data => {:confirm => 'Are you sure?'},:class=>"btn btn-danger delete-deck deck-button ",:type=>"button" %> 
                        </div>
                    <%end%>
                </div>  
            </div>
        <%end%>
    </div> 




