<!--flash a sucessful account creation message if sucessfully logged in-->
<%if flash[:message]%>
    <div class="alert alert-success" role="alert">
        <h5><%=flash[:message]%></h5>
    </div>
<!--flash a welcome back message if user already exists-->
<%elsif flash[:welcome]%>
    <div class="alert alert-success" role="alert">
        <h5><%=flash[:welcome]%></h5>
    </div>
<%end%>

<h1>Community</h1>


<!--if user is logged in allow them to create a new post-->
<%if @current_user.present? %>
        <%=link_to "New Post", new_post_path, class:"btn btn-outline-info new-post"%>
<%end%>
    <div class="container home-feed">
    <!--in reverse timestamp so newer posts show up first, iterate through all the post information and present it in containers-->
        <%@posts.reverse_each do |post|%>
            <div class="individual-post-container container">

                <h2>
                    <%=post.title%>
                </h2>

                <% if post.image.present? %>
                    <div class="post-image">
                        <%=cl_image_tag post.image%> 
                    </div> 
                <% elsif post.video.present? %>
                    <div class="container">
                    <!--gem that allows embedded youtube videos-->
                        <%video=YouTubeAddy.extract_video_id(post.video)%>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video%>" allowfullscreen class="video"></iframe>
                    </div> 
                <% end %>
                <% if post.post_text.present? %>
                    <p> <%= post.post_text %> </p>
                <% end %>
                <div class="posted-by-container">
                    <%user=User.find post.user_id%>
                    <h5>Posted by <%=user.email%></h5>
                    <h6 class='time'> 
                    <!--shows time the post was created-->
                        <% time = (post.created_at).strftime("%d %B %Y at %I:%M%P")%> 
                        <%= time+" UTC"%>
                    </h6>
                    <!--only allows a user to edit or delete a post if they are logged in and they created the post-->
                    <%if @current_user.present?%>
                        <%if post.user_id == @current_user.id %>
                            <div class="controls">
                                <%= link_to "Edit Post", edit_post_path(post.id), :class=>"btn btn-secondary deck-button",:type=>"button" %> <!--need to be specific because we are using @artist-->
                                <%= link_to "Delete Post", post, :method => 'delete', :data => {:confirm => 'Are you sure?'},:class=>"btn btn-danger delete-deck deck-button ",:type=>"button" %> 
                            </div>
                        <%end%>
                    <%end%>   
                </div>  
            </div>
        <%end%>
    </div> 




