<!--form allowing input of a name, cover of the deck and a description of the deck-->
<div class="container edit-deck-container">
    <%= form_for(@decklist, :html=>{:multipart => true}) do |f|%>
        <div class="row form-inputs">
            <div class="col deck-name">
                <%= f.label :name %>
                <%= f.text_field :name, :class=>"form-control form-input", :placeholder=>"Deck name..." %>
            </div>
            <div class="col deck-cover">
                <%= f.label :cover %>
                <%=f.cl_image_upload :cover, :class=>"form-control", :type=>"file"%>
            </div>
            <div class="col-6 deck-description">
                <%= f.label :description %>
                <%=f.text_field :description, :class=>"form-control form-input", :placeholder=>"Deck description..."%>
            </div>
        </div>
<!--Creates a row for each card type and all corresponding cards with the specific card type uses card sorting method in decklists_controller-->
        <div class="row">

            <div class="edit-column col">
                <h5>Creatures (<%=@creatureArray.length%>)</h5>
                <div class="checkboxes">
                    <%=f.collection_check_boxes(:card_ids, @creatureArray, :id, :title) do |b|%>
                        <%= b.label(class:"label-checkbox") { b.check_box+" "+b.text } %>
                    <%end%>
                </div>
            </div>

            <div class="edit-column col">
                <h5>Lands (<%=@landArray.length%>)</h5>
                <div class="checkboxes">
                    <%=f.collection_check_boxes(:card_ids, @landArray, :id, :title) do |b|%>
                        <%= b.label(class:"label-checkbox") { b.check_box+" "+b.text } %>
                    <%end%>
                </div>
            </div>

            <div class="edit-column col">
                <h5>Artifacts (<%=@artifactArray.length%>)</h5>
                <div class="checkboxes">
                    <%=f.collection_check_boxes(:card_ids, @artifactArray, :id, :title) do |b|%>
                        <%= b.label(class:"label-checkbox") { b.check_box+" "+b.text } %>
                    <%end%>
                </div>
            </div>

            <div class="edit-column col">
                <h5>Enchantments (<%=@enchantmentArray.length%>)</h5>
                <div class="checkboxes">
                    <%=f.collection_check_boxes(:card_ids, @enchantmentArray, :id, :title) do |b|%>
                        <%= b.label(class:"label-checkbox") { b.check_box+" "+b.text } %>
                    <%end%>
                </div>
            </div>
            <div class="edit-column col">
                <h5>Planeswalkers (<%=@planeswalkerArray.length%>)</h5>
                    <div class="checkboxes">
                    <%=f.collection_check_boxes(:card_ids, @planeswalkerArray, :id, :title) do |b|%>
                        <%= b.label(class:"label-checkbox") { b.check_box+" "+b.text } %>
                    <%end%>
                </div>
            </div>
            <div class="edit-column col">
                <h5>Instants (<%=@instantArray.length%>)</h5>
                <div class="checkboxes">
                    <%=f.collection_check_boxes(:card_ids, @instantArray, :id, :title) do |b|%>
                        <%= b.label(class:"label-checkbox") { b.check_box+" "+b.text } %>
                    <%end%>
                </div>
           </div>
            <div class="edit-column col">
                <h5>Sorceries (<%=@sorceryArray.length%>)</h5>
                <div class="checkboxes">
                    <%=f.collection_check_boxes(:card_ids, @sorceryArray, :id, :title) do |b| %>
                        <%= b.label(class:"label-checkbox") { b.check_box+" "+b.text } %>
                    <%end%>
                </div>
            </div>
        </div>
        <%=f.submit :class=>"btn btn-primary create-deck"%>   
    <%end%>     
</div>
<!--keeps making copies of cards every time i edit-->