<h1><%=@decklist.name%> Deck</h1>

<h5 class="decklist-description-show"><%=@decklist.description%></h5>

<div class="controls">
    <%= link_to "Edit Deck", edit_decklist_path(@decklist.id), :class=>"btn btn-secondary deck-button",:type=>"button" %> <!--need to be specific because we are using @artist-->
    <%= link_to "Delete Deck", @decklist, :method => 'delete', :data => {:confirm => 'Are you sure?'},:class=>"btn btn-danger delete-deck deck-button ",:type=>"button" %> 
</div>



<div class="container deck">
    <div class="row">
        <div class="creatures col deck-column">
           <h5>Creatures (<%=@creatureArray.length%>)</h4>
            <ul>
                <%@creatureArray.each do |card|%>
                   <li class="deck-links"><%=link_to card.title, card%></li>
                <%end%>
            </ul>
        </div>
        <div class="land col deck-column">
           <h5>Lands (<%=@landArray.length%>)</h5>
            <ul>
                <%@landArray.each do |card|%>
                <li class="deck-links"><li><%=link_to card.title, card%></li>
                <%end%>
            </ul>
        </div>
        <div class="artifacts col deck-column">
           <h5>Artifacts (<%=@artifactArray.length%>)</h5>
            <ul>
                <%@artifactArray.each do |card|%>
                   <li class="deck-links"><%=link_to card.title, card%></li>
                <%end%>
            </ul>
        </div>

        <div class="enchantments col deck-column">
       <h5>Enchantments (<%=@enchantmentArray.length%>)</h5>
            <ul>
                <%@enchantmentArray.each do |card|%>
                <li class="deck-links"><%=link_to card.title, card%></li>
                <%end%>
            </ul>
        </div>
        <div class="planeswalkers col deck-column">
       <h5>Planeswalkers (<%=@planeswalkerArray.length%>)</h5>
            <ul>
                <%@planeswalkerArray.each do |card|%>
                    <li class="deck-links"><%=link_to card.title, card%></li>
                <%end%>
            </ul>
        </div>
        <div class="instants col deck-column">
       <h5>Instants (<%=@instantArray.length%>)</h5>
        <ul>
            <%@instantArray.each do |card|%>
                <li class="deck-links"><%=link_to card.title, card%></li>
            <%end%>
        </ul>
        </div>
        <div class="sorcerys col deck-column">
       <h5>Sorceries (<%=@sorceryArray.length%>)</h5>
        <ul>
            <%@sorceryArray.each do |card|%>
                <li class="deck-links"><%=link_to card.title, card%></li>
            <%end%>
        </ul>
        </div>
    </div>
</div>


    