<h1><%=@card.title%></h1>

<%= image_tag @card.image, :class => 'feature' %>
<ul>
    <li>Price: $<%=@card.price%> USD</li>
    <li>Release Date: <%=@card.release%></li>
    <li>Card Rarity: <%=@card.rarity%></li>
    <li>Oracle Text: <%=@card.oracle%></li>
</ul>

<div class="controls">
    <%= link_to 'Delete card from Library', @card, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
